.App {
  text-align: center;
}

.head{
 background:red;
 max-height: 100px;
 border-radius: 30px;
 padding-top: 30px;
 padding-bottom: 30px;
 /* width: 25%; */
 /* margin-left:225px; */
 color: aliceblue;
 font-size: 60px;
 font-style: oblique;
}

button{
  background-color:olivedrab;
  color: aliceblue;
  height: 10vh;
  font-size: 20px;
  border-radius: 30px;
}

.steam{
  background-color:purple;
 max-height: 100px;
 border-radius: 30px;
 padding-top: 30px;
 padding-bottom: 30px;
 /* width: 25%; */
 /* margin-left: 225px; */
 color: aliceblue;
 font-size: 60px;
 font-style: oblique;
}